/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    /* filter: alpha(opacity=50); */
    /* opacity: 0.5; */
    background-color: black;
}

@keyframes banner-enter {
    from { top: -25vw; }
    to { top: 0; }
}

@keyframes panel-move {
    from { left: 0; }
    to { left: 13vw; }
}

#banner {
    position: absolute;
    z-index: 999;
    left: 4vw;
    top: 0;

    width: 25vw;
    height: 15vh;

    border: 2px solid  chocolate ;
    border-radius: 40px;
    box-shadow: 3px 3px 4px 2px black;
    background-image: linear-gradient(to bottom right,
                        burlywood , burlywood, antiquewhite);
}

.banner-anim {
    animation-name: banner-enter;
    animation-duration: 250ms;
    animation-timing-function: ease-out;
}

#root {
    width: 96vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: stretch;

    background-image: url(images/background.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;

}

#header {
    height: 45vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#central_panel {
    position: relative;
    margin-top: 4vh;
    width: 60vw;
    height: 40vh;
}

.panel {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center; 

    border: 2px solid chocolate;
    border-radius: 40px;
    box-shadow: 3px 3px 4px 2px black;
    background-color: burlywood;
}

#name{
    font-size: 1.6em;
    font-weight: bolder;
    line-height: 4vh;
    text-shadow: 2px 2px 2px grey;
}

#name:hover{
    cursor: pointer;
}

#bars {
    width: 58vw;
    height: 34vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.bar {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: antiquewhite;
}

.progres {
    margin-top: 1vh;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 58vw;
}

/*----progres bar style----*/

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

progress[value]::-webkit-progress-bar {
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset;
}

progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(-45deg,
            transparent 40%, rgba(0, 128, 0, 0.1) 40%,
            rgba(0, 128, 0, 0.1) 66%, transparent 66%),
        -webkit-linear-gradient(top,
            rgba(248, 238, 238, 0.212),
            rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, green, chartreuse);

    border-radius: 20px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}


/*--------------------------- */

#content {
    width:100%;
    display: flex;
    justify-content: space-evenly;

    flex-grow: 1;
}

#left-actions {
    width: 25vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#left_panel{
    margin-top: 4vh;
    width: 18vw;
    height: 45vh;  
    border-radius: 5% 40% / 30% 5%; 
}

#quest {
    height: 40vh;   

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-bottom: 2vh;
}

.todos {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.count {
    width: 40px;
    height: 25px;
    border-radius: 15% 25% 45% 35%;
    border: 1px solid gray;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count samp{
    font-size: large;
}

.box-todo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2vh ;
}
.box-todo samp{
    
    width: 40px;
}
.check{
    margin-left: 4vw;
    margin-right: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#brush-teeth {
    width: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#right-actions {
    width: 25vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* --------------BUTTONS STYLES-------------- */
.button {
    color: rgb(19, 2, 168);
    justify-content: center;
    margin: 10px;

    width: 8vh;
    height: 8vh;

    box-shadow: 5px 5px 5px rgb(0, 0, 50);
    border-radius: 10% 40% 40% 10%;
    border-color: blue;
    background-color: rgb(11, 145, 255);
    font-size: 0, 6em;
    font-weight: bold;
}

.button:hover {
    background-color: #83a9cc;
    color: #FFF;
    cursor:pointer;
}



.button:active {
    box-shadow: 3px 5px rgb(50, 60, 100) inset;
}

.press {
    border-color: blue;
    background-color: rgb(11, 145, 255);
    box-shadow: 3px 5px rgb(50, 60, 100) inset;
}

.press:hover {
    border-color: blue;
    color: blue;
    background-color: rgb(11, 145, 255);
}

/* ----------------------------------------------------------------- */

#pet-wrapper {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pet-wrapper img {
    height: 40vh;
}

/*-----  css botton  -----*/
#botton {
    position: absolute;
    bottom: 1vh;
    width: 96vw;
    text-align: center;
    font-size: 1vh;
    color: burlywood;
}

#botton p {
    font-size: 0.8vh;
    font-style: italic;
}
/*-----  Trying_things -----*/
